@model List<AkademiQMongoDb.Dtos.AboutSection2.ResultAbout2Dto>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="intro intro-about2">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-5">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>

                        <ul class="list">
                            @if (!string.IsNullOrEmpty(item.Item1))
                            {
                                <li><i class="fa fa-check"></i> @item.Item1</li>
                            }
                            @if (!string.IsNullOrEmpty(item.Item2))
                            {
                                <li><i class="fa fa-check"></i> @item.Item2</li>
                            }
                            @if (!string.IsNullOrEmpty(item.Item3))
                            {
                                <li><i class="fa fa-check"></i> @item.Item3</li>
                            }
                        </ul>

                        <div class="space30"></div>
                        <a href="/Contact/Index" class="btn btn-lg btn-primary">
                            Daha Fazla Bilgi <i class="icon-arrow-right"></i>
                        </a>
                    </div>

                    <div class="col-md-7">
                        <img src="@item.ImageUrl" class="pull-right img-responsive shadow-lg rounded" alt="@item.Title" style="max-width: 80%; height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    }
}